#rubiks-menu {
  position: absolute;
  right: 0;
  top: -23%;
  z-index: 10;
  background: rgba(74, 74, 74,0.95);
  padding: 6px;
  border-radius:8px;
  font-family: sans-serif;
  margin-top: 13%;
  color: #ffffff;
}
#rubiks-menu button { margin: 2% 4%;
  padding: 6px 12px;
  border-radius: 5px;
  border: none;
  background: #5bc2cf;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
#rubiks-menu button:hover { background: #438e98;}

#toolbarTip {
  font-size: 12pt; 
  color: #c6c6c6;
}